doctype html
html(lang="en")
    head
        title="web-dev-env"
        link(rel="stylesheet" type="text/css" href="/css/style.css" )
    body
        h1 Jade - node template engine
        script(type="text/javascript" src="/js/bundle.js")